
<section id="banner" data-vide-bg="{{site.baseurl}}/assets/video/{% if site.video %}{{ site.video }}{% endif %}" data-vide-options="posterType: jpg, loop: true, muted: false, position: 50% 50%">
  <div class="wrapper">
    <div class="content">
      <h1 class="title">{% if site.banner-title %}{{ site.banner-title }}{% else %}马泽宇官方网站{% endif %}</h1>
      <h2 class="sub_title">{% if site.banner-desc %}{{ site.banner-desc }}{% else %}"把简单的事情做好就不简单，把平凡的事做好就不平凡". — 马泽宇{% endif %}</h2>
    </div>
  </div>
</section> <!-- End Section Banner -->
